h1, h2, h3, h4, h5, h6, blockquote, pre, p, td, a, table, i, b, strong, div, em, span, fieldset, form, label, legend {
	font-family: Arial, Helvetica, sans-serif;
}
a, img {
	outline: 0;
	border: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.base-table {
	background: #ffffff;
	min-width: 620px;
}